autocomplete-suggestion-list.autocomplete-suggestion-list
{
    li.atom-idea
    {
        span
        {
            &.word
            {
                font-size: 90%;
                font-weight: 100;
            }

            &.right-label
            {
                font-size: 84%;
                letter-spacing: -0.5px;
            }
        }
    }
}
